/* General for the whole document */

@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");

* {
  box-sizing: border-box;

  /* border: 1px red dotted; */
}

fonts .selector-for-some-widget {
  box-sizing: content-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: visible;
}

.nameFont {
  font-family: "Holtwood One SC", serif;
}