/* General for the whole document */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;

  /* border: 1px red dotted; */
}

* {
  font-family: "Roboto", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: #0e162e;
}

.container {
  width: 75%;
  margin: 0 auto;
}
